services:
  redis:
    image: redis:8.4.0
    container_name: superset_cache
    restart: unless-stopped

  analytics_db:
    image: postgres:16
    container_name: analytics_db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=superset_analytics
      - POSTGRES_USER=superset
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_PORT=5432

  meta_db:
    image: postgres:16
    container_name: meta_db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=superset_meta
      - POSTGRES_USER=superset
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_PORT=5432

  superset:
    build: .
    container_name: superset_app
    restart: unless-stopped
    ports:
      - 8088:8088
    environment:
      - META_DATABASE_URI=postgresql+psycopg2://superset:supersecret@meta_db:5432/superset_meta
      - ANALYTICS_DATABASE_URI=postgresql+psycopg2://superset:supersecret@analytics_db:5432/superset_analytics
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - SUPERSET_CONFIG_PATH=/app/pythonpath/superset_config.py
      - SUPERSET_ENV=production
      - SUPERSET_SECRET_KEY=supersecretkey123
      - KEYCLOAK_BASE_URI=http://keycloak:8080
      - KEYCLOAK_REALM=superset
      - KEYCLOAK_CLIENT_ID=superset # generated from keycloak
      - KEYCLOAK_CLIENT_SECRET=bV5Mw6fusODe8cUt8KOyKl5BhrEMLqmh # generated from keycloak
    volumes:
      - ./superset_config.py:/app/pythonpath/superset_config.py
      - ./assets:/app/assets
    depends_on:
      - redis
      - meta_db
      - analytics_db

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # needed for local setup
      KC_HOSTNAME: keycloak
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY: edge
      KC_SPI_COOKIE_DEFAULT_SAMESITE: NONE
    ports:
      - "8080:8080"

